{% extends 'base.html' %}

{% block content %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Stages</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        {% for script in scripts %}
            <tr>
                <th>
                    <a href="/records/script/{{ script.get_internal_name() }}">{{ script.get_internal_name() }}</a>
                </th>
                <td>{{ script.description }}</td>
                <td>
                    {% for stage in script.get_stages() %}
                    	{{ stage.__name__ }}
                        <br>
                    {% endfor %}

                </td>
                <td>
                    <a href="/script/run/{{ script.get_internal_name() }}">Run script</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}